[submodule "Boids-web"]
	path = Boids-web
	url = https://github.com/Ethank2114/Boids-web.git
[submodule "Color-Paths"]
	path = Color-Paths
	url = https://github.com/Ethank2114/Color-Paths.git
[submodule "Soft-Bodies"]
	path = Soft-Bodies
	url = https://github.com/Ethank2114/Soft-Bodies.git
[submodule "Branch-Patterns"]
	path = Branch-Patterns
	url = https://github.com/Ethank2114/Branch-Patterns.git
[submodule "Sands-Web"]
	path = Sands-Web
	url = https://github.com/Ethank2114/Sands-Web.git
[submodule "Graph-Traversal"]
	path = Graph-Traversal
	url = https://github.com/Ethank2114/Graph-Traversal.git
[submodule "Random-Walk"]
	path = Random-Walk
	url = https://github.com/Ethank2114/Random-Walk.git
[submodule "Project-Template"]
	path = Project-Template
	url = https://github.com/Ethank2114/Project-Template.git
[submodule "Maze-Solver"]
	path = Maze-Solver
	url = https://github.com/Ethank2114/Maze-Solver.git
